pipeline/plloadfilesfromweb.json
{
	"name": "plloadfilesfromweb",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(variables('filelist'),'|')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": "$$FILEPATH"
										},
										{
											"name": "loadtime",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"fname": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"ptblanme": "streamdata"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"filelist": {
				"type": "String",
				"defaultValue": "StormEvents_details-ftp_v1.0_d1950_c20170120.csv.gz|StormEvents_details-ftp_v1.0_d1951_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1952_c20170619.csv.gz|StormEvents_details-ftp_v1.0_d1953_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1954_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1955_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1956_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1957_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1958_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1959_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1960_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1961_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1962_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1963_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1964_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1965_c20190920.csv.gz|StormEvents_details-ftp_v1.0_d1966_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1967_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1968_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1969_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1970_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1971_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1972_c20181029.csv.gz|StormEvents_details-ftp_v1.0_d1973_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1974_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1975_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1976_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1977_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1978_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1979_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1980_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1981_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1982_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1983_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1984_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1985_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1986_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1987_c20160223.csv.gz|StormEvents_details-ftp_v1.0_d1988_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1989_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1990_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1991_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1992_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1993_c20190920.csv.gz|StormEvents_details-ftp_v1.0_d1994_c20190920.csv.gz|StormEvents_details-ftp_v1.0_d1995_c20190920.csv.gz|StormEvents_details-ftp_v1.0_d1996_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1997_c20190920.csv.gz|StormEvents_details-ftp_v1.0_d1998_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d1999_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2000_c20200707.csv.gz|StormEvents_details-ftp_v1.0_d2001_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2002_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2003_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2004_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2005_c20200518.csv.gz|StormEvents_details-ftp_v1.0_d2007_c20170717.csv.gz|StormEvents_details-ftp_v1.0_d2008_c20180718.csv.gz|StormEvents_details-ftp_v1.0_d2009_c20180718.csv.gz|StormEvents_details-ftp_v1.0_d2010_c20200922.csv.gz|StormEvents_details-ftp_v1.0_d2011_c20180718.csv.gz|StormEvents_details-ftp_v1.0_d2012_c20200317.csv.gz|StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz|StormEvents_details-ftp_v1.0_d2014_c20210120.csv.gz|StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz|StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz|StormEvents_details-ftp_v1.0_d2017_c20210120.csv.gz|StormEvents_details-ftp_v1.0_d2018_c20201216.csv.gz|StormEvents_details-ftp_v1.0_d2019_c20210223.csv.gz|StormEvents_details-ftp_v1.0_d2020_c20210223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1950_c20170120.csv.gz|StormEvents_fatalities-ftp_v1.0_d1951_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1952_c20170619.csv.gz|StormEvents_fatalities-ftp_v1.0_d1953_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1954_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1955_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1956_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1957_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1958_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1959_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1960_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1961_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1962_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1963_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1964_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1965_c20190920.csv.gz|StormEvents_fatalities-ftp_v1.0_d1966_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1967_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1968_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1969_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1970_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1971_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1972_c20181029.csv.gz|StormEvents_fatalities-ftp_v1.0_d1973_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1974_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1975_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1976_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1977_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1978_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1979_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1980_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1981_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1982_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1983_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1984_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1985_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1986_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1987_c20160223.csv.gz|StormEvents_fatalities-ftp_v1.0_d1988_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1989_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1990_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1991_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1992_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1993_c20190920.csv.gz|StormEvents_fatalities-ftp_v1.0_d1994_c20190920.csv.gz|StormEvents_fatalities-ftp_v1.0_d1995_c20190920.csv.gz|StormEvents_fatalities-ftp_v1.0_d1996_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1997_c20190920.csv.gz|StormEvents_fatalities-ftp_v1.0_d1998_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d1999_c20201015.csv.gz|StormEvents_fatalities-ftp_v1.0_d2000_c20200707.csv.gz|StormEvents_fatalities-ftp_v1.0_d2001_c20200518.csv.gz|StormEvents_fatalities-ftp_v1.0_d2002_c20200518.csv.gz|StormEvents_fatalities-ftp_v1.0_d2003_c20200518.csv.gz|StormEvents_fatalities-ftp_v1.0_d2004_c20200518.csv.gz|StormEvents_fatalities-ftp_v1.0_d2005_c20200518.csv.gz|StormEvents_fatalities-ftp_v1.0_d2007_c20170717.csv.gz|StormEvents_fatalities-ftp_v1.0_d2008_c20180718.csv.gz|StormEvents_fatalities-ftp_v1.0_d2009_c20180718.csv.gz|StormEvents_fatalities-ftp_v1.0_d2010_c20200922.csv.gz|StormEvents_fatalities-ftp_v1.0_d2011_c20180718.csv.gz|StormEvents_fatalities-ftp_v1.0_d2012_c20200317.csv.gz|StormEvents_fatalities-ftp_v1.0_d2013_c20170519.csv.gz|StormEvents_fatalities-ftp_v1.0_d2014_c20210120.csv.gz|StormEvents_fatalities-ftp_v1.0_d2015_c20191116.csv.gz|StormEvents_fatalities-ftp_v1.0_d2016_c20190817.csv.gz|StormEvents_fatalities-ftp_v1.0_d2017_c20210120.csv.gz|StormEvents_fatalities-ftp_v1.0_d2018_c20201216.csv.gz|StormEvents_fatalities-ftp_v1.0_d2019_c20210223.csv.gz|StormEvents_fatalities-ftp_v1.0_d2020_c20210223.csv.gz|StormEvents_locations-ftp_v1.0_d1950_c20170120.csv.gz|StormEvents_locations-ftp_v1.0_d1951_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1952_c20170619.csv.gz|StormEvents_locations-ftp_v1.0_d1953_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1954_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1955_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1956_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1957_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1958_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1959_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1960_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1961_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1962_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1963_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1964_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1965_c20190920.csv.gz|StormEvents_locations-ftp_v1.0_d1966_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1967_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1968_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1969_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1970_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1971_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1972_c20181029.csv.gz|StormEvents_locations-ftp_v1.0_d1973_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1974_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1975_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1976_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1977_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1978_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1979_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1980_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1981_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1982_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1983_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1984_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1985_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1986_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1987_c20160223.csv.gz|StormEvents_locations-ftp_v1.0_d1988_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1989_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1990_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1991_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1992_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1993_c20190920.csv.gz|StormEvents_locations-ftp_v1.0_d1994_c20190920.csv.gz|StormEvents_locations-ftp_v1.0_d1995_c20190920.csv.gz|StormEvents_locations-ftp_v1.0_d1996_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1997_c20190920.csv.gz|StormEvents_locations-ftp_v1.0_d1998_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d1999_c20201015.csv.gz|StormEvents_locations-ftp_v1.0_d2000_c20200707.csv.gz|StormEvents_locations-ftp_v1.0_d2001_c20200518.csv.gz|StormEvents_locations-ftp_v1.0_d2002_c20200518.csv.gz|StormEvents_locations-ftp_v1.0_d2003_c20200518.csv.gz|StormEvents_locations-ftp_v1.0_d2004_c20200518.csv.gz|StormEvents_locations-ftp_v1.0_d2005_c20200518.csv.gz|StormEvents_locations-ftp_v1.0_d2007_c20170717.csv.gz|StormEvents_locations-ftp_v1.0_d2008_c20180718.csv.gz|StormEvents_locations-ftp_v1.0_d2009_c20180718.csv.gz|StormEvents_locations-ftp_v1.0_d2010_c20200922.csv.gz|StormEvents_locations-ftp_v1.0_d2011_c20180718.csv.gz|StormEvents_locations-ftp_v1.0_d2012_c20200317.csv.gz|StormEvents_locations-ftp_v1.0_d2013_c20170519.csv.gz|StormEvents_locations-ftp_v1.0_d2014_c20210120.csv.gz|StormEvents_locations-ftp_v1.0_d2015_c20191116.csv.gz|StormEvents_locations-ftp_v1.0_d2016_c20190817.csv.gz|StormEvents_locations-ftp_v1.0_d2017_c20210120.csv.gz|StormEvents_locations-ftp_v1.0_d2018_c20201216.csv.gz|StormEvents_locations-ftp_v1.0_d2019_c20210223.csv.gz|StormEvents_locations-ftp_v1.0_d2020_c20210223.csv.gz"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}